<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>

<style>
    
</style>

</head>
<body>

    <%- include('../pages/nav.ejs') %>
    <%- include('../pages/side.ejs') %>



  
</body>
</html>
